<h1 class="title">star wars planets</h1>
<h6 class="subtitle">by Luis Suárez</h6>
<div class="content">
  <div class="container">
    <div class="card">
      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
      <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
        <ng-container matColumnDef="seqNo">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let planet">{{planet.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell class="name-cell" *matCellDef="let planet">{{planet.name}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="population">
          <mat-header-cell *matHeaderCellDef>Population</mat-header-cell>
          <mat-cell class="population-cell" *matCellDef="let planet">{{planet.population}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [length]="dataSource.count$ | async" [pageSize]="10" [pageSizeOptions]="[10]"></mat-paginator>
    </div>
  </div>
</div>
