<div class="container mt-5">
  <div style="text-align: left;">
    <h1>Planet Name</h1>
  </div>
  <div class="container info">
    <!-- Row -->
    <div class="row">
      <!-- Planet-->
      <div class="col-lg-6">
        <div class="planet"> 
            <div class="wrap">
               <div class="background"></div>
               <div class="clouds"></div>   
            </div>
            <div class="mask"></div>
          </div>
      </div>
      <!-- Table-->
      <div class="col">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Planet Name</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Population <small class="text-muted">Population</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Diameter</li>
            <li>Climate</li>
            <li>Terrain</li>
            <li>Gravity</li>
            <li>Residents</li>
            <li>Films</li>
          </ul>
          <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button> -->
        </div>
      </div>
      </div>
    </div><!-- /.row -->
  </div>
</div>
