.title{
  text-align: left;
  color: black;
  font-family: 'starjedi';
  font-size: 60px;
  letter-spacing: 4px;
  -webkit-text-stroke: 2px rgb(255, 238, 0);
}

.info {
  margin-top: 150px;
  margin-bottom: 150px;
}

.planetContainer{
  padding-top: 50px;
  padding-left: 100px;
}

.footer-button {
  margin: 30px;
}
